html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FEECEF;
}

* {
    box-sizing: border-box; /* sets the element's dimensions include the padding and border */
}

body {
    /* top, right, bottom, left */
    padding: 100px 0px 0px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: 1
}

header {
    background-color: #F896AB;
    color: #FBFBF3;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 5px 0px 60px; /* top/bottom, left/right */
    z-index: 10;
}

footer {
    text-align: center;
    padding: 5px;
    background: #F34E7C;
    color: #FBFBF3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 82px;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#appName {
    margin-left: 30px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0px 12px;
    font-size: 14px;
}

nav ul li a {
    color: #FBFBF3;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid #F34E7C;
}

.header-avatar {
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px;
}

/* container for both sections */
.login-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.login-area, .register-area {
    background-color: #FDD9E0;
    border: 1px solid #FBFBF3;
    padding: 20px 20px 250px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}


#or {
    color: #F7BA0C;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FBFBF3;
    border-radius: 4px;
    background-color: #FBFBF3;
}

textarea {
    background-color: #FBFBF3;
}

button {
    background-color: #F896AB;
    width: 50px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

#pigLatin {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#pigLatin:hover {
    background-color: #F34E7C;
}

button[type="submit"] {
    background-color: #F896AB;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

#deleteAccountBtn, #modal-confirm-btn {
    width: 100px;
}

/* Styling for error messages, assuming they have a class for errors */
.error {
    color: #ff0000;
    font-size: 0.8rem;
    margin: 5px 0;
}

.content-container {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    column-count: 2;
    margin-top: 80px;
    margin-bottom: 100px;

    /*
        flex-direction: column;
        align-items: center;
        column-count: 1;
    */
}

.post-form {
    margin-bottom: 30px;
}

.post-form{
    width: 45vw;
}

.recents
{
    margin-top: auto;
}

.post-form textarea {
    width: 45vw;
    max-width: 45vw;
    min-height: 80px;
    max-height: 300px;
}

.input-field {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #F896AB !important;
    border-radius: 5px;
    width: 100%;
    outline: 0;
}

.input-field:focus, input:focus {
    outline: 2px solid #F34E7C;
}

#content {
    height: 200px;
}

.form-actions {
    display: flex;
    align-items: center;
}

.form-actions button {
    margin: 5px;
}

.posts-list h2 {
    margin-top: 0;
    text-align: center;
}

/* centers sort buttons */
.recents {
    text-align: center;
}

/* .posts-list ul {
    list-style-type: none;
    padding: 0;
} */

/* .posts-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FBFBF3;
} */



#filter-btn-container{
    align-items: center;
}

#sort-recent, #sort-likes {
    width: 120px;
    height: 25px;
    padding: 2px;
    color: #FBFBF3;
    background: linear-gradient(to bottom, #F896AB 0%, #F34E7C 100%);
    border: 1px solid #F34E7C;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.active-filter {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3) !important; /* Inward shadow when button is pressed */;
}

.profile-avatar {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    padding: 0;
}

.profile-info {
    position: fixed;
    top: 120px;
}

.user-posts ul {
    list-style-type: none;
    padding: 0;
}

.user-posts li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FBFBF3;
}

.post {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: 20px 50px 20px 0px;
    box-shadow: 3px 3px 5px 2px#F896AB;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
}

.profilePost-container {
    margin-top: 90px;
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 400px; 
    overflow-y: auto;
}

.postsList {
    margin: 30px;
    margin-right: 30px;
    margin-left: 30px;
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 550px; 
    overflow-y: auto; 
}

.post-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;;
}

.post-avatar-container img{
    width: 60px;
    height: 60px;
    border: 1px solid #F34E7C;
    border-radius: 10px;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;

}


.post-title {
    margin: 20px 0;
    color: #F34E7C;
}

.post-content {
    margin-bottom: 10px;
    font-size: 14px;
}

.status-display {
    display: flex;
    flex-direction: row;
}

.status-display * {
    margin: 0px 10px;
}

.post-status-bar p {
    font-size: 13px;
}

hr.solid {
    border-top: 1px solid #F34E7C;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #FBFBF3;
    margin: auto;
    padding: 25px;
    width: 50%;
}

.modal-content p, .modal-content h3 {
    text-align: center;
}

.modal-content input[type="text"] {
    border: 2px solid #F34E7C;
}

#close-modal-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal-btn:hover, #close-modal-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Adjust for column layout */
@media (max-width: 1080px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        column-count: 1;
    }

    .post-form, .post {
        width: 65vw;
    }

    .post-form textarea {
        width: 65vw;
        max-width: 65vw;
        min-height: 80px;
        max-height: 300px;
    }

    .post-form h3 {
        text-align: center;
    }

    .profile-info {
        position: fixed;
        top: 80px;
        left: 220px;
    }
}

/* small window screen */
@media (max-width: 900px) {
    body {
        padding: 140px 30px 0px 30px;
    }

    header {
        justify-content: flex-start;
    }

    .header-logo {
        height: 112px;
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    #appName {
        font-size: 27px;
        margin-left: 60px;
    }
    
    .profile-avatar img, .profile-info {
        margin-top: 30px;
    }

    /* .login-register {
        flex-direction: column;
    }

    .login-area, .register-area {
        background-color: #FDD9E0;
        border: 1px solid #FBFBF3;
        padding: 20px 20px 130px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 250px;
    } */

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin: 13px 5px;
        font-size: 14px;
    }

    .post-form, .post {
        width: 75vw;
    }

    .post-form textarea {
        width: 75vw;
        max-width: 75vw;
        min-height: 80px;
        max-height: 300px;
    }
}

/* minimum desktop width */
@media (max-width: 700px) {
    body {
        padding: 130px 30px 0px 30px;
    }

    header {
        justify-content: flex-start;
    }

    .header-logo {
        height: 108px;
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    #appName {
        color: black;
        font-size: 25px;
        margin-left: 60px;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin: 12px 5px;
        font-size: 16px;
    }
}

/* phone dimensions */
@media (max-width: 580px) {
    body {
        padding: 110px 30px 0px 30px;
    }

    header {
        justify-content: flex-start;
    }

    .header-logo {
        height: 96px;
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    #appName {
        color: #F34E7C;
        font-size: 20px;
        margin-left: 40px;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav ul li {
        margin: 13.5px 5px;
        font-size: 14px;
    }

    .profile-avatar img {
        position: fixed;
        top: 100px;
        left: 20px;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        padding: 0;
    }

    .profile-info {
        position: fixed;
        top: 180px;
        left: 25px;
    }

    .profilePost-container {
        position: fixed;
        top: 330px;
        left: 30px;
    }


}


/*
Color Palettes:
Off white: #FBFBF3
Lightest Pink: #F896AB
Light Pink: #FDD9E0
Pink: #F896AB
Dark Pink: #F34E7C
Light Yellow: #F9E698
Gold: #F7BA0C
Gray: #9B9D9E

Other Colors:
Dark Blue: #2D5D7B
Light Blue: #80CED7
Columbia Blue: #B2CEDE
Tiffany Blue: #8CDFD6
Moonstone Blue: #46B1C9
Sky Blue: #6DC0D5
Tropical Indigo: #837CB6
Green: #68A357
*/